<section class="nav_admin">
	<section class="row">
		<section class="col-md-4 offset-md-4">
			<%= link_to superuser_users_path do %>
				<%= image_tag 'dentist.png', alt: 'dentist icon' %> <br />

				Dentistas Cadastrados
			<% end %>
		</section>
	</section>
</section>