<footer>
	<section class="row">
		<section class="col-md-5 text-center">
			<span>Desenvolvido por</span>
            <%= image_tag('hamici.png', alt: 'Logo Hamici Tech') %>
		</section>

		<section class="col-md-7 pt-4">
			Copyright © Hamici Tech 2019
		</section>
	</section>
</footer>