<section class="text-center mb-4">
	<h3>Tela de edição de pacientes</h3>

	<section class="col-md-4 offset-md-4 ">
			<%= render 'form', patient: @patient %>

			<br />

			<%= link_to 'Voltar', patients_path, class: 'btn btn-warning' %>
		</section>
</section>