@import "bootstrap";
@import "welcome";
@import "devise";
@import "patients";
@import "shared/navbar.scss";
@import "shared/footer.scss";

.logged_container {
	margin-top: 100px;
}
.btn-primary {
	box-shadow: -2px 2px 10px rgba(10,10,10,0.3);
}

table th, table tr, table td {
	border:1px solid #dee2e6;
}
.dropdown {
	padding: 0px;
}